*{
	/* Universal page reset */
	margin:0;
	padding:0;
}

.tabbed_content {
	background-color: #EFEFEF;
	margin: 5px;
	font-family: Arial, Helvetica, Sans;
	height: 247px;
	overflow: hidden;
}
.content {

}
.tabs {
	height: 10px;
	position: relative;
	font-family: Arial, Helvetica, Sans;
}

.tabs .moving_bg {
	padding: 15px;
	background-color:#666666;
	background-image:url(../img/arrow-2.png);
	position: absolute;
	width: 190px;
	z-index: 190;
	left: 0;
	padding-bottom: 38px;
	background-position: -20px bottom;
	background-repeat: no-repeat;
	height: 0px;
}

.tabs .tab_item {
	display: block;
	float: left;
	padding-bottom:15px;
	padding-left:12px;
	padding-right:8px;
	padding-top:8px;
	width:190px;
	color: #CBCBCB;
	text-align: center;
	font-weight: bold;
	z-index: 200;
	position: relative;
	cursor: pointer;
	font-size:14px;
}

.tabbed_content .slide_content {
	overflow: hidden;
	background-color: #EFEFEF;
	padding: 0;
	position: relative;
	margin: 0;
	width: 630px;
}

.tabslider {
	width: 5000px;
    padding-top: 20px;
    text-align: right;
}

.tabslider ul {
	float: left;
	margin: 0px;
	padding: 0px;

}

.tabslider ul a {
	color: #aaaaaa;
	text-decoration: none;
}

.tabslider ul a:hover {
	color: #aaaaaa;
}

.tabslider li {
    width: 630px;
    list-style-type: none;
	background: url('../images/bullet.png') no-repeat top left;
}