vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Aug 2009 20:24:03 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|PROD\\tross
vti_modifiedby:SR|PROD\\dmbarengolts
vti_timecreated:TR|07 Aug 2009 20:36:55 -0000
vti_lineageid:SR|{DA91DD03-1A3D-4D1B-930A-DAFEAAAC29D5}
vti_backlinkinfo:VX|Diversity/Redesign/dallas/events.html Diversity/Redesign/dallas/members2009.html Diversity/Redesign/dallas/35201.htm Diversity/Redesign/dallas/council.html Diversity/Redesign/dallas/index.html Diversity/Redesign/dallas/diversity.html Diversity/Redesign/dallas/Members.html
vti_cacheddtm:TX|26 Aug 2009 20:24:03 -0000
vti_filesize:IR|5760
vti_cachedlinkinfo:VX|S|images/bg.jpeg S|images/widget-table-bg.jpg S|images/overlay.png S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|Diversity/Redesign/dallas/images/bg.jpeg FSUS|Diversity/Redesign/dallas/images/widget-table-bg.jpg FSUS|Diversity/Redesign/dallas/images/overlay.png NSUS|Diversity/Redesign/dallas/blank.gif
